.home {
    height: 100vh;
    background-color: rgb(18, 30, 39);
}

.home .hook {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px);
}

.home .inner-hook {
    padding: 1.2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.home .description {
    max-width: 30rem;
}

@media screen and (min-width: 400px) {
    .home .title .name {
        display: inline;
    }
}

@media screen and (min-width: 768px) {
    .home .title {
        font-size: 64px;
    }
}

@media screen and (min-width: 1024px) {
    .home .hook {
        align-items: start;
        justify-content: start;
        padding: 150px;
    }
    .home .inner-hook {
        margin-top: 5vh;
    }
    .home .title {
        min-width: 1000px;
    }
}
