.projects {
    text-align: left;
    padding: 20px 32px;
}

.projects .main-title {
    margin-top: 56px;
    margin-bottom: 28px;
}

.projects .project-title {
    margin-bottom: 16px;
    font-size: 40px;
    text-align: left;
}

.projects .subtitle {
    font-size: 20px;
    letter-spacing: 0.1rem;
}

.projects ul {
    padding-left: 0;
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects li {
    padding: 4px 12px;
    background-color: #121E27;
    color: white;
    margin-right: 4px;
    margin-bottom: 12px;
    font-weight: bold;
    border-radius: 10px;
}

.projects .description {
    margin-bottom: 28px;
}

.projects .screenshot {
    height: 270px;
    width: 337.5px;
    /* border: 10px solid black; */
    border-radius: 10px;
    display: flex;
    justify-content: left;
    margin-bottom: 28px;
    filter: drop-shadow(5px 5px 4px rgb(18, 30, 39));
}

.projects .project {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

@media screen and (min-width: 400px) {
    .projects .project-title {
        font-size: 64px;
    }
}

@media screen and (min-width: 1024px) {
    .projects .project {
        flex-direction: row;
    }
    .projects .image-container {
        display: flex;
        align-items: center;
        margin-left: 56px;
    }
}