.footer {
    padding: 32px 28px;
    text-align: left;
    background-color: #121E27;
}

.section {
    padding: 16px 0;
}

.footer .author {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 8px;
}

.footer .copyright {
    color: #B7B4B9;
    font-size: 12px;
}

.footer .subtitle {
    color: #C7C7C7;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.footer .links {
    display: flex;
}

.footer .link-item {
    color: #FF715B;
    margin-right: 16px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: space-between
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        padding: 20px 25vw;
    }
}