.about {
    padding: 20px 32px;
}

.about .title {
    margin-top: 56px;
    margin-bottom: 28px;
}

.about .bio-pic {
    max-height: 375px;
    max-width: 281px;
    min-height: 328px;
    min-width: 248px;
    border-radius: 20px;
    margin-bottom: 28px;

}

.about ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.about li {
    padding: 4px 12px;
    background-color: #121E27;
    color: white;
    margin-right: 4px;
    margin-bottom: 12px;
    font-weight: bold;
    border-radius: 10px;
}

.about .subtitle {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 56px;
    margin-bottom: 28px;
}

.about .description {
    font-size: 20px;
    text-align: left;
    margin-bottom: 1.75rem;
}

.about .section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .tags {
    display: flex;
    justify-content: center;
}

.about .bio-link {
    color: #FF715B;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .about .section {
        display: flex;
        flex-direction: row;
    }
    .about .bio-pic {
        height: 30%;
        width: 30%;
        margin-right: 32px;
    }
    .about .tags {
        display: flex;
        justify-content: flex-start;
    }
}