.mobile-menu {
    margin-top: 1rem;
    position: absolute;
    right: 2rem;
    text-align: right;
}

.mobile-menu-item {
    margin-top: .5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.desktop-menu {
    display: none;
    justify-content: space-evenly;
}

.desktop-menu-item {
    cursor: pointer;
}

.footer .footer-menu {
    display: flex;
}

.footer .footer-menu-item {
    color: #FF715B;
    margin-right: 16px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
  .desktop-menu {
    display: flex;
  }
  .mobile-menu {
    display: none;
  }
}