.nav {
  padding: 1rem 3rem;
  color: white;
  font-weight: 700;
}

.name {
  display: flex;
  justify-content: space-between;
  height: 2rem;
}

.burger {
    font-size: 1.25rem;
    cursor: pointer;
    transform: rotate(270deg);
    position: relative;
    bottom: 0.5rem;
}

.transparent {
    opacity: 0;
}

.menu {
  margin-top: 1rem;
  position: absolute;
  right: 2rem;
  text-align: right;
}

.menu-item {
  margin-top: .5rem;
  margin-bottom: 1rem;
}